/* Projects  */
.container-fluid {
    width: 100%;
    text-align: left;
}
 .projects {
    position: relative;
    display: flex;
    flex-direction: column;
}
.col-30 {
    width: 30%;
    margin: auto;
}


/* Cards */

.card {
    justify-content: between;
    background-color: #ffffff;
    position: relative;
    bottom: 1em;
    width: 100%; 
    height: 100%; 
    margin: auto;
    border: 3px #000000;
    box-shadow: 1px 1px 6px 1px #ccd0d5c2;
}
.card-title {
    font-size: 18px;
    font-weight: 600;
}
.card-text {
    font-size: 16px;
    margin-top: 3em;
}

/* Yellow bubbles in cards */

.list-group {
    width: 100%;
}
ul, li, .badge {
    font-size: 16px;
    padding: .3em;
    margin: .3em;
}
li, .badge {
    min-height: 1em;
    position: relative;
}
.card-link {
    font-size: 16px;
    font-weight: bold;
}
.btn {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1em;
    background-color: #000000;
    color: #ffffff;
}

.btn :hover {
    background-color: #ccd0d5c2;
    color: #ffffff;
}

/* Headers */

.projects > h3 {
    bottom: 1em;
}
h3 {
    margin-top: 2em;
    padding: 30px 0 8px;
    color: #040232;
    text-shadow: -2px 0px 0px #ffffff;
    text-align: center;
    z-index: 0;
  }
  h3:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 175px;
    height: 30px;
    transform: skew(-12deg) translateX(-50%);
    background: #f2bc02;
    z-index: -1;
  }



/* Project buttons */

#card-bottom {
    background-color: #a7bc5b;
    min-height: 3em;
}

#card-bottom, a {
    text-align: center;
}
  
.project-concepts {
    color: #000000;
}






@media(width < 1024px) {

    .card-title {
        font-size: 20px;
    }
    .card-text {
        top: .5em;
        font-size: 16px;
    }
    .projects > h3 {
        bottom: 1em;
    }
    h5 {
        min-height: 1em;
    }

    ul > li > .badge {
        font-size: 14px;
        bottom: 2em;
    }
}

@media(width < 768px) {

    span {
        right: 1.7em;
    }


}

@media(width < 480px) {

    ul > li > .badge {
        bottom: 3em;
        left: -.5em;
        font-size: 13px;
    }


}