
/************** 
    Intro 
***************/

#intro {
  display: flex;
  text-align: justify;
  color: #094067;
  margin-top: 8em;
  }

#image {
  float: left;
  margin: 1em;

}

#about {
  margin-top: 1em;
}

strong {
  color: #e16162;
}
