
/************** 
    Intro 
***************/
.container-fluid {
  width: 100%;
}
#intro {
  position:relative;
  display: flex;
  width: 100%;
  margin-top: 8em;
  color: #094067;
  box-sizing: border-box;
}

.col-right > img {
  position: relative; 
  left: 5em;
  width: 290px;
  height: 290px;
  float: left;
  margin: 1em;
}

.col-left> p {
  text-align: justify;
  top: 1em;
  left: 6em;
  width: 80%;
}

#break {
  display: none;
}

strong {
  color: #e16162;
}

@media(width < 1020px) {
  #intro > p {
    margin-top: 2em;
    text-align: justify;

  }
}

@media(width < 768px) {
  .col-left > p {
    left: 3em;
    width: 80%;
  }
}

@media(width < 480px) {

  .col-right > img {
    bottom: 2em;
    left: 1.2em;
    }

  .col-left > p {
    bottom: 2em;
    left: 2.1em;
    }

  #break {
    display:contents;
  }
}

