.navbar {
  min-width: 100vw;
  height: 55px;
  background-color: #030125;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; 
}

.nav-item {
  transform: translateY(calc(40% - 6px));
}

.nav-list{
  display:flex;
  list-style-type: none;
  margin-top: 1em;
  padding: 0;
  gap: 1em;
}

/* Logo and icons*/
.logo > h2 {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  margin-top: .7em;
  margin-left: .1em;
  color: #cee0e7;
  font-size: 30px;
  font-weight: 600;
}

nav > .nav-list {
  position: relative;
  left: 1em;
}

.nav-link > #linkedin, #github {
  margin-bottom: .1em;
  color:#e16162;
}

button, #resume {
  position: relative;
  color: #030125;
  background-color:#cee0e7;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
}

#asterisk {
  position: relative;
  font-size: 20px;
  color: #f2bc02;
  z-index: 10;
  left: 2.3em;
  bottom: 1em;
}