nav {
  height: 16px;
  color: #1D1D2C;

}

.navbar {
  background: #edf7f7;
  padding: 25px;
}

.nav-item {
  transform: translateY(calc(40% - 6px));
}

#name {
  color: #094067;
  font-size: 24px;
  font-weight: 400;
}

#linkedin, #github {
  color:#e16162;
}