.navbar {
  width: 100vw;
  height: 55px;
  background-color: #0c5179;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; 
}

.nav-item {
  transform: translateY(calc(40% - 6px));
}

.nav-list{
  display:flex;
  list-style-type: none;
  margin-top: 1em;
  padding: 0;
  gap: 1em;
}

/* Logo and icons*/
.logo > h2 {
  display: flex;
  margin-top: .5em;
  margin-left: .5em;
  color: #f2bc02;
  font-size: 28px;
  font-weight: 600;
}

#linkedin, #github {
  margin-top: 1.5em;
  margin-right: .1em;
  color:#e16162;
}


@media(width < 1080px) {
  .nav-list{
    margin-right: 2em;
  }

  .logo > h2{
    margin-left: .3em;
 }
}

@media(width < 576px) {
  .nav-list{
    margin-top: 1.3em;
    margin-right: 1.8em;
    gap: .5em;
  }

  .logo > h2{
    font-size: 25px;
    color: #f2bc02;
    margin-left: .3em;
 }
}