#footer {
    min-width: 100vw;
    background-color: #2a92ae;
    color: #ffffff;
    text-align: center;
}

p { 
    position: relative;
    bottom: 2em;
}

h3 {
    padding: 1em;
    font-weight:bolder;
}

.copyright {
    text-align: left;
    margin-left: 1em;
    font-size: 13px;
}

#icon-copyright {
    color: #ffffff;
}


