#footer {
    min-width: 100vw;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

p { 
    position: relative;
    bottom: 2em;
}

h3 {
    padding: 1em;
    font-weight:bolder;
}

.copyright {
    text-align: left;
    margin-left: .2em;
    font-size: 16px;
}


