@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body {
  background-color: #fffffe;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size:18px;
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
}

h3 {
  position: relative;
  padding: 30px 0 8px;
  color: #1E6091;
  text-shadow: 1px 1px #ffffff;
  text-align: center;
  z-index: 0;
}

h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 14px;
  width: 150px;
  height: 16px;
  transform: skew(-12deg) translateX(-50%);
  background: #ffd166;
  z-index: -1;
}