@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
main {
  background-color: #fffffe;
  font-family: 'DM Sans', sans-serif;
  font-size:18px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Roboto Mono', monospace;

  margin-bottom: 2em;
  padding: 30px 0 8px;
  color: #040232;
  text-shadow: -2px 0px 0px #ffffff;
  text-align: center;
  z-index: 0;
}

h3:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 175px;
  height: 30px;
  transform: skew(-12deg) translateX(-50%);
  background: #f2bc02;
  z-index: -1;
}